@import 'tailwindcss';

@theme {
  --color-primary: #ff883e;
  --color-secondary: #2c2c2b;
  --color-secondary-dark: #201f1d;
  --color-background: #3f3d3b;
  --color-background-dark: #323230;
  --color-secondary-background: #7e7e78;
  --color-error: #eb1400;
  --color-error-light: #ff6f61;
  --color-warning: #c36a2d;
  --color-success: #43a047;
  --color-text-secondary: #b5b5b5;
}

body {
  color: white;
  font-family: 'Playfair', serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cormorant SC', serif;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

::selection {
  background-color: var(--color-primary);
  color: white;
}

*:disabled {
  cursor: not-allowed;
}

.paddings {
  padding-inline: calc(var(--spacing) * 8);
  padding-block: calc(var(--spacing) * 14);
}

@media (hover: hover) {
  button:hover {
    cursor: pointer;
  }
  button:disabled:hover {
    cursor: not-allowed;
  }
}

.price {
  font-family: 'Cormorant SC', serif;
}
